.end{
    background-color: black;
    margin-top: 35px;
}
.para1{
    color: white;
    margin-left: 50px;
}
.black{
        background-color: black;
        margin-top: 80px;
     
    }
    .red{
            display: flex;
    }
    .thisone{
        color: white;
        margin-left: 180px;
        padding-top: 100px;
    }
    .mission{
        color: white;
        margin-left: 180px;
        word-spacing: 10px;
        line-height: 30px;
    }
    .thissecond{
        color: white;
        padding-top: 100px;
               
    }
    .foundation{
        color: white;
        font-size: 19px;
        text-decoration: none;
 
    }
    .foundation:hover{
        color: orangered;
        text-decoration: none;

    }
    .founder{
        color: white;
        font-size: 19px;
         text-decoration: none;
    }
    .founder:hover{
        color: orangered;
         text-decoration: none;
    }
    .intimating{
        color: white;
        font-size: 19px;
         text-decoration: none;
    }
    .intimating:hover{
        color: orangered;
    }
    .going{
        color: white;
        font-size: 19px;
         text-decoration: none;
    }
    .going:hover{
        color: orangered;
    }
    .upcoming{
        color: white;
        font-size: 19px;
         text-decoration: none;
    }
    .upcoming:hover{
        color: orangered;
    }
    .every{
        color: white;
        font-size: 19px;
         text-decoration: none;
    }
    .every:hover{
        color: orangered;
    }
    .thirdone{
         color: white;
        padding-top: 100px;
        margin-left: 50px;
    } 
    .pic{
        color:  white;
        margin-left: 50px;
        font-size: 19px;
         text-decoration: none;
    }
    .pic:hover{
        color: orangered;
    }
    .video{
        color: white;
        margin-left: 50px;
        font-size: 19px;
         text-decoration: none;
    }
    .video:hover{
        color: orangered;  
     }
     
    .career{
        color:  white;
        margin-left: 50px;
        font-size: 19px;
         text-decoration: none;
    }
    .careerhover{
        color: orangered;
    }
    
    .faqs{
        color:  white;
        margin-left: 50px;
        font-size: 19px;
         text-decoration: none;
    }
    .faqs:hover{
        color: orangered;
    }
    
    .with{
        color:  white;
        margin-left: 50px;
        font-size: 19px;
         text-decoration: none;
    }
    .with:hover{
        color: orangered;
    }
    
    .nation{
        color:  white;
        margin-left: 50px;
        font-size: 19px;
         text-decoration: none;
    }
    .nation:hover{
        color: orangered;
    }
    .fourthone{
         color: white;
        padding-top: 100px;
        margin-left: 50px;
    } 
    .nagar{
        color: white;
        margin-left: 40px;
        font-size: 19px;
         text-decoration: none;
    }
    .nagar:hover{
        color: orangered;
    }
    
    .number{
        color: white;
        margin-left: 40px;
        font-size: 19px;
         text-decoration: none;
    }
    .number:hover{
        color: orangered;
    }
    
    .mail{
        color: white;
        margin-left: 40px;
        font-size: 19px;
         text-decoration: none;
    }
    .mail:hover{
        color: orangered;
    }
    
    .policy{
        color: white;
        margin-left: 40px;
        font-size: 19px;
         text-decoration: none;
    }
    .pollicy:hover{
        color: orangered;
    }
    
    .terms{
        color: white;
        margin-left: 40px;
        font-size: 19px;
         text-decoration: none;
    }
    .terms:hover{
        color: orangered;
    }
     .power{
        color: white;
        margin-left: 800px;
        font-size: 25px;
        margin-top: -20px;
         text-decoration: none;
     } 
.container{
    background-image: url(indian-farmers-UA84_l.jpg);
     width: 100%;
     height: 700px;
    width: 100%;
    
}
.first {
       display: flex;  
}
 .main{ 
    display: flex;
   background-color: white;
      height: 80px; 
      width: 1080px;
      word-spacing: 55px;
    margin-top: 30px;
    align-items: center;
}

.donate{
    background-color: orangered; 
    margin-left: 380px;
     border-radius: 20px;
     height: 40px;
      margin-top: 10px;
}


    a{  
        margin-left: 20px;
        color: black;
        text-decoration: none;
    }
    .home{
        color: black;
    }
  .home:hover{
    color: red;
  }
   .about{
        color: black;
    }
    .about:hover{
        color: red;
    }
    .intent:hover{
        color: red;
    }
     .intent{
        color: black;
    }
    .events:hover{
        color: red;
    }
     .events{
        color: black;
    }
    .gallary:hover{
        color: red;
    
    }
     .gallary{
        color: black;
    }
    .content:hover{
       color: red;
    }
    .content{
        color: black;
    }